.body {
  font-family: 'Roboto', sans-serif;
}
.post {
  border: rgb(91, 227, 166) solid 2px;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 10px;
}
.content {
  width: 100%;
  padding: 10px;
}
.username {
  font-weight: bold;
}
.loginPage {
  background-image: url(/public/images/bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 60%;
}
.loginPanel {
  background-color: white;
  padding: 50px;
  margin-top: 200px!important;
  border-radius: 20px;
}
.lih {
  margin-bottom: 60px;
}
.IDcard {
  margin-top: 80px;
  background-color: aquamarine!important;
}
.postBtn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.postBtn:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.postBtn:active {
	position:relative;
	top:1px;
}
.option {
  margin: 5px 10px;
}
.post {
  background-color: rgb(142, 178, 152)!important;
}